# Python 바이트코드 파일
__pycache__/
*.py[cod]
*$py.class

# 배포 및 패키징 관련
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller 관련 항목
*.manifest
*.spec

# 설치 로그 파일
pip-log.txt
pip-delete-this-directory.txt

# 테스트, 커버리지, 캐시 관련 파일
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# 정적 타입 검사 도구(mypy) 캐시
.mypy_cache/

# 가상환경 관련
env/
venv/
ENV/
env.bak/

# 기타 IDE, 에디터 관련 (옵션)
.idea/
.vscode/